[Unit]
Description=Git Relay Command Runner
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Nataliia_Borska
ExecStart=/root/Nataliia_Borska/venv/bin/python /root/Nataliia_Borska/cmd_runner.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
