[Unit]
Description=Git Relay Command Runner
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/nataliia_borska
ExecStart=/root/nataliia_borska/venv/bin/python /root/nataliia_borska/cmd_runner.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
